.title {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 40px;
}

.search-input {
  width: 500px;
  margin-right: 10px;
}

.search-button {
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #007bff;
  border: 1px solid #007bff;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 10px;
}

.table-div {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.results {
  margin-top: 30px;
  text-align: center;
}

.search-button:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.table-custom {
  width: 900px;
}

.results-table {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
}

.star-icon {
  cursor: pointer;
}

.star-icon.yellow {
  color: rgb(254, 254, 3);
}

.favorite-icon:hover {
  color: gold;
}

.favorite-icon {
  cursor: pointer;
  color: gold;
  text-align: center;
  display: block;
  margin: auto;
  font-size: 24px;
}

.results-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
